torchvision==0.14.1
pandas==1.2.4
tqdm==4.62.3
joblib==1.1.0
scipy==1.7.3
numpy==1.21.6
colorlog==6.6.0
regex==2023.6.3
transformers==4.28.0
opencv_python==4.5.1.48
h5py==2.10.0
easydict==1.9
ffmpeg_python==0.2.0
torch==1.13.1
ftfy==6.0.3
six==1.16.0
nltk==3.6.6
matplotlib==3.3.1
ffmpeg==1.4
Pillow==8.4.0
python_hostlist==1.21
PyYAML==5.4
scikit_learn==0.23.2
tensorboardX==2.1
langdetect==1.0.9
genbit==2.2.0.0
